<%= form_for :message, url: reply_conversation_path(conversation) do |f| %>
   <div class="form-group">
    <%= f.label "Reply", class: 'heading' %>
    <%= f.text_field :body, class: 'form-control' %>
    </div>
    <div class="form-actions">
    <%= f.submit "Send", class: 'btn btn-success btn-lg' %>
  </div>
<% end %>
