<p>Hey <%= $job_AR.name %>,</p>

<p>Someone has just accepted your gracious offer for help. It's a match made in heaven!</p>

<p><a href="http://www.skilltra.de/jobs">Log in</a> and check it out.</p>

