<p>Hey You,</p>

<p>Person B has just accepted your offer of help. Its a match made in heaven!</p>

<p><a href="skilltra.de/posts">Log in</a> and check it out.</p>

<p>You are the bomb,</p>
<p>Justin</p>
<p>CEO and Co-Founder of Skilltra.de</p>