<div class="jumbotron center">

    <div class="panel-body">
      <%= link_to image_tag('facebook_login_button.png', id: 'facebook-login-image', alt: 'Login with Facebook'), user_omniauth_authorize_path(:facebook) %>
    </div>

    <div class="panel-body">
      <h3>Note</h3>
        <p>Hey, we gotta make sure you are who you say you are since people are trading their time, talents and ideas freely.</p>
    </div>
</div>