<div class="container-home">
  <h1>This is where you look at YOUR TEAM.</h1>
    <table class="table table-striped">
      <thead class="heading">
        <tr>
          <th>Action</th>
          <th>Status</th>
          <th>Name</th>
        </tr>
      </thead>
      <% @team_members.each do |tm| %>
        <% unless current_user.id == tm.user_id %>
          <tbody>
            <tr>
              <td><%= link_to "Awesome sauce", posts_path %></td>
              <td><%= tm.status %></td>
              <td><%= User.find_by_id(tm.user_id).name %></td>
            </tr>
          </tbody>
        <% end %>
      <% end %>
    </table>
</div>
