<div class="jumbotron center">

	<h2>If You Could Have One Skill Set for a Day. . .<br><strong>What Would it Be?</strong></h2>
		<div class="panel-body">

      <% if false %>
      <%= link_to image_tag('facebook_login_button-smallerish square.png', id: 'facebook-login-image', alt: 'Login with Facebook'), user_omniauth_authorize_path(:facebook) %>
      <% end %>

       <%= link_to image_tag('linkedinlong310W.png', id: 'linkedin-login-image', alt: 'Sign in with Linkedin'), user_omniauth_authorize_path(:linkedin) %>
    </div>

    <div class="panel-body">

    </div>
</div>
