<div class="jumbotron center">
	<h2>If You Could Have One Skill Set for a Day. . .<br><strong>What Would it Be?</strong></h2>
		<div class="panel-body">

      <%= link_to image_tag('facebook_login_button-smallerish square.png', id: 'facebook-login-image', alt: 'Login with Facebook'), user_omniauth_authorize_path(:facebook) %>
    </div>

    <div class="panel-body">
      
    </div>
</div> 