<h1>It's not a zero sum game anymore</h1>
<p>You may have heard the expression before if you were in a philosophy class in school.</p>
<p>A zero sum reality is the way that our evolutionary ancestors were forced to live because of the scarcity of resources. With ideas though:
	<ul><li>By sharing you get further definition of your own idea</li>
		<li>You get feedback</li>
		<li>You get other sweet stuff too</li></ul>
