<h1>The Crazy Good Power of Start Up Collaboration. . . Without Giving up Equity</h1>

<p>Let’s face it. . . if you had the money to pay a team of developers, marketers, lawyers, you’d already be sipping pina colladas on your 30 foot yajct.</p>

<p>But you don’t. You are a founder. And founders before funding are a little like college students.</p>

<p>Every dollar needs to go somewhere. Website urls. Software. Branding campaigns. Google ad words. New hardware. The list goes on. . .</p>

<p>It adds up hella fast.</p>

<p>Before today. Your only option was to get down on your knees and beg friends for help, give up precious equity, or take the considerable time and effort to learn the skill yourself.</p>

<p>That’s it.</p>

<p>But all that just changed. Bam!</p>

<p>Enter: skilltra.de</p>

<p>Make an account and find something you can do well for other people. Maybe its marketing. Maybe its developing a certain function that has been bogging down a less technical founder. Maybe its making a kick ass info graphic.</p>

<p>Do it a bunch and you will earn credits (while helping other people in the community succeed I might add!).</p>

<p>Take those credits and spend them on the skills you just don’t have the time to learn and that you can’t possibly afford to pay someone to do for you.</p>

<p>Its that simple.</p>
