<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">

		<title>About SkillTra.de</title>

		<link href='http://fonts.googleapis.com/css?family=Lato' rel='stylesheet' type='text/css'>
		<link rel="stylesheet" href="assets/stylesheets/about.css.scss">
	</head>

	<body class="body-about">

		<div class="container-about">
			<!-- START HERE --> 

			<h1 class="h1-about">About <orange class="orange">Skilltra.de</orange></h1>
			<h2 class="h2-about">Modern Day Bartering for Startups</h2>

			<p class="p-about">Let’s face it. . . if you had the money to pay a team of developers, marketers and lawyers, you’d already be sipping pina colladas on your 30 foot yacht.</p> 

			<p class="p-about">But you don’t. You are a founder. And founders before funding are a little like college students.</p>


			<p class="p-about">Every dollar needs to go somewhere. Website urls. Software. Branding campaigns. Google ad words. New hardware. The list goes on. . .</p>

			<p class="p-about">Before today. Your only option was to get down on your knees and beg friends for help, give up precious equity, or take the considerable time and effort to learn the skill yourself.</p>

			<p class="p-about"><a href="skilltra.de/login", class="a-about">Make an account</a> and find something you can do well for other people.</p>

			<a href="https://www.facebook.com/goskilltra.de" target="_blank">
			<%= image_tag('facebook.png', id: 'facebook-image', alt: 'Visit Us on Facebook') %>
			</a>
			<a href="https://twitter.com/GoSkillTrade" target="_blank">
				<%= image_tag('twitter.png', id: 'twitter-image', alt: 'Follow Us on Twitter') %>
			</a>
			
			<!-- END HERE --> 
		</div><!-- .container --> 

	</body>
</html>