<div class="container-home">

  <div class="row">
    <div class="col-lg-5 col-sm-6">
      <hr class="section-heading-spacer">
      <div class="clearfix"></div>
      <h2 class="section-heading">Do you have kudos, gripes, ideas or suggestions?
        </h2>
      <p class="lead">I try to respond to each and every message personally.<br>Email me at jpholzmann@gmail.com<br> or simply click the link right hurrr ---->
        <a href="mailto:jpholzmann@gmail.com">Contact Us</a>.</p>
    </div>
    <div class="col-lg-5 col-lg-offset-2 col-sm-6">
      <%= image_tag('contactus.jpg', :class => "img-responsive") %>
    </div>
  </div>

</div>
