<div class="jumbotron center">
	<h1>Welcome to the personal blog of Phil Phoenix.</h1>
	<p>A collaborative environment where you can share ideas that you have that would help make the world better.</p>
	<h3>Member's Only</h3>
	<p>If you think you should be a member then fill out the request below with your details</p>
	
			<% if user_signed_in? %>
				# do something
			<% else %>
			 <p>
			  <%= link_to "Log in", new_user_session_path, class: "btn btn-default btn-lg" %>
      	<%= link_to "Sign up", new_user_registration_path, class: "btn btn-primary btn-lg" %>
			</p>
			<% end %>
</div>