<!-- Header -->

  <div class="container">

    <div class="row">
      <div class="col-lg-12">
        <div class="intro-message">
          <h1>Stuck on Something?</h1>
          <h3>Trade the Skills You Have for the Skills You Need</h3>
          <hr class="intro-divider">
          <ul class="list-inline intro-social-buttons">
            <li>
            </li>
            <li>
            </li>



            <li>
              <div class="container">

              </div>

              <%= link_to image_tag('linkedinlong310W.png', id: 'linkedin-login-image', alt: 'Sign in with Linkedin'), user_omniauth_authorize_path(:linkedin, var: @user.id) %>

            </li>
          </ul>
        </div>
      </div>
    </div>

  </div>
  <!-- /.container -->

