#accounts {
  margin: 0 auto;
}

.box {
  margin: 5px;
  width: 214px;
}

.box img {
  width: 100%;
}

#bids-table {
  align: center;
  border: 200;
  cellpadding: 5px;

}

.account-title {
  font-size: 35px;
}









#navbar {background-color: #eee;
        top: 0px;
        left: 0px;
        position: absolute;
        margin-bottom: 90px;
        width: 100%;
        padding: 10px;
        border-bottom: 1px solid red;}

#navbar ul {
        list-style: none;
        margin: 0;
        padding: .3em;
      }

#navbar li {
        float: right;
        margin-right: 10px;
      }

#navbar li a {
        display: block;
        background-color: #f9f9f9;
        border: 1px solid #f9f9f9;
        padding: .5em;
      }
