#bids {
  margin: 0 auto;
}

.box {
  margin: 5px;
  width: 214px;
}

.box img {
  width: 100%;
}

#bids-table {
  align: center;
  border: 200;
  cellpadding: 5px;

}

.account-title {
  font-size: 35px;
}