<script type="text/javascript">
    mixpanel.track("Job Completed");
</script>

<div class="container-home">
  <%= link_to 'Back', jobs_path %>
  <h1 class="heading">How'd it Work Out?</h1>

  <%= render 'form' %>
</div>