<div class="col-sm-3 col-sm-offset-1 blog-sidebar">
  <div class="sidebar-module sidebar-module-inset">
    <h4>about</h4>
    <p>If you live and bleed startup energy and truly want to impact the world for the better. Gimme a bookmark.</p>
  </div>
  <div class="sidebar-module">
    <h4>archives</h4>
    <ol class="list-unstyled">
      <li><a href="#">December 2014</a></li>
    </ol>
  </div>
  <div class="sidebar-module">
    <h4>Let's Connect Up!</h4>
    <ol class="list-unstyled">
      <li><a href="http://www.github.com/philmphoenix" target="_blank">GitHub</a></li>
      <li><a href="http://www.twitter.com/justinholzmann" target="_blank">Twitter</a></li>
      <li><a href="http://www.facebook.com/phillip.matthew.phoenix" target="_blank">Facebook</a></li>
    </ol>
  </div>
</div><!-- /.blog-sidebar -->
