<!DOCTYPE html>
<html>
<head>
  <title>We found a match for you</title>
  <link rel="stylesheet" href="assets/stylesheets/mailers.css.scss">
</head>
<body>
<%= yield %>

    <p>You are the <strong>bomb</strong>. . . don't ever forget this.</p>
    <p class="mailer-signature">Justin</p>
    <p class="mailer-title">CEO and Co-Founder of Skilltra.de</p>
</body>
</html>