<div class="container-home">
<h1 class="heading">All about You and Your Dreams</h1>

<%= render 'form' %>

<%= link_to 'Back', accounts_path(:id => current_user.id, class: "btn btn-default btn-lg"  ) %>
</div>